#####################################################################
#  Fan Control
#####################################################################

[heater_fan hotend_fan]
##    Hotend Fan - FAN0 Connector
pin: PB0
max_power: 1.0
#kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##    If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##    Print Cooling Fan - FAN1 Connector
pin: PB1
#max_power: 1.0
#kick_start_time: 0.5
##    Depending on your fan, you may need to increase this value
##    if your fan will not start. Can change cycle_time (increase)
##    if your fan is not able to slow down effectively
off_below: 0.10

# [heater_fan controller_fan]
##    Controller fan - FAN2 Connector
# pin: PB2
#kick_start_time: 0.5
# heater: heater_bed
# heater_temp: 45.0

#[heater_fan exhaust_fan]
##  Exhaust fan - In E2 OUT Positon
#pin: PB3
#max_power: 1.0
#shutdown_speed: 0.0
##kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

## Chamber tmemp / Exhaust fan
## ON print head PCB
[thermistor chamber_temp]
temperature1: 25
resistance1: 10000
beta: 3950

[temperature_sensor chamber]
sensor_type: chamber_temp
sensor_pin: PC1
min_temp: 0
max_temp: 100
gcode_id: C

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100