[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_360024000250563046353420-if00
restart_method: command

########################################
# EXP1 / EXP2 (display) pins
########################################
[board_pins]
aliases:
  # EXP2 header
  EXP1_10=<5V>, EXP1_9=<GND>,
  EXP1_8=PD1,   EXP1_7=PD0,
  EXP1_6=PC12,  EXP1_5=PC10,     # Slot in the socket on the other side
  EXP1_4=PD2,   EXP1_3=PC11,
  EXP1_2=PA8,   EXP1_1=PC9,

  # EXP1 header
  EXP2_10=<5V>, EXP2_9=<GND>,
  EXP2_8=<RST>, EXP2_7=PB10,
  EXP2_6=PA7,   EXP2_5=PC7,       # Slot in the socket on the other side
  EXP2_4=PA4,   EXP2_3=PC6,
  EXP2_2=PA5,   EXP2_1=PA6